<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/header') %>
    <title>Libro</title>
  </head>
  <body>
    <%- include ('partials/navigation')%>
    <div class="container-fluid mt-4">
      <div class="row">
        <% if (books.length > 0) { %> <% books.forEach(function(book) { %>
        <div class="col-md-4">
          <div class="card text-white bg-dark mb-3 text-center">
            <div class="card-header">
              <h5 class="card-title"><%= book.name %></h5>
              <div class="card-body" style="width: fit-content">
                <img class="card-img-top rounded" src="<%= book.url %>" />
                <p class="card-text"><%= book.description %></p>
                <h5 class="card-title"><%= book.year %></h5>
                <h5 class="card-title"><%= book.gender %></h5>
                <h5 class="card-title"><%= book.author %></h5>
                <div class="card-footer">
                  <a
                    href="/api/delete/<%= book.id %>"
                    class="btn btn-danger btn-block mt-2 w-100"
                    >Borrar</a
                  >
                  <a
                    href="/api/update/<%= book.id %>"
                    class="btn btn-success mt-2 w-100"
                    >Editar</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <%})%> <%} else {%>
        <div class="card card-body text-center" style="padding: 21%">
          <p>
            No Hay Libros Todavia.
            <a href="/api/books/new-entry">Agregar Un Libro</a>
          </p>
        </div>
        <%}%>
      </div>
    </div>
    <%- include ('partials/footer')%>
  </body>
</html>
